body.dark {
    color: #8a8d93;
    background-color: #282828;
}

body.dark select, body.dark input {
    color: #e4e4e4 !important;
    background-color: #333333;
    border: 0 !important;
}

body.dark textarea {
    color: #e4e4e4;
    background-color: inherit;
    border: 1px solid #555555;
}

body.dark .search input {
    color: #e4e4e4;
    border: 1px solid #555555 !important;
}

body.dark .breadcrumbs select {
    background-color: #282828;
}

body.dark .theme-toggle.active .fas {
    color: #A30000;
}

body.dark .overview {
    border-top: 1px solid #555555 !important;
    border-bottom: 1px solid #555555 !important;
}

body.dark .breadcrumbs a {
    color: #8c8e84;
}

body.dark .breadcrumbs select {
    color: #8c8e84 !important;
    background-color: #282828;
}

body.dark .search {
    border-bottom: 0;
}

body.dark .search input {
    border: 1px solid #555555;
    background-color: inherit;
    color: #e4e4e4;
}

body.dark .roster {
    margin-top: 0;
}

body.dark .roster table {
    border: 1px solid #555555;
}

body.dark .roster table td {
    border-bottom: 1px solid #555555;
}

body.dark .roster table th, body.dark .roster table td.status {
    color: #CCCDCF;
}

body.dark .status.Active {
    background-color: #436932;
}

body.dark .status.Inactive {
    background-color: #A30000;
}

body.dark .roster table td.stats {
    background-color: #28a645;
}

body.dark .info-box p {
    color: #e4e4e4;
}

body.dark .form input, body.dark .form select {
    background-color: inherit;
    border: 1px solid #555555 !important;
}

body.dark .form select option {
    background-color: #282828;
    color: #e4e4e4;
}

body.dark .modal .modal-body {
    background-color: #282828;
}

body.dark .inner-button.active {
    color: white;
    background-color: #282828;
    border-color:#15171A #15171A #282828;
}

body.dark .inner-header {
    border-bottom: 1px solid #15171A;
    background-color: #282828;
}