.unit-container {
    max-width: 1350px;
}

.unit-cards {
    display: flex;
    flex-wrap: wrap;
}

.unit-cards .unit-card {
    display: block;
    padding: 18px;
    align-items: center;
    text-align: center;
    margin: 0 15px 15px;
    border: 1px solid black;
}

.unit-cards .unit-card img {
    width: 256px;
}

.unit-cards .unit-card:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.unit-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.unit-item {
    display: block;
    padding: 18px;
    align-items: center;
    text-align: center;
    list-style: none;
    margin: 0 15px 15px;
    border-radius: 5px;
    background-color: #333333;
}

.unit-item img {
    width: 128px;
}

.unit-item li {
    align-items:center;
}

.unit-item select {
    margin: 0;
}